body {
    color: white;
    background: burlywood;
    font-family: "Bungee Tint", sans-serif;
    margin-bottom: 100px
}

header {
    border-bottom: solid 2px brown;
}

section {
    background: brown;
    padding-bottom: 30px;
    padding-top: 30px;
}

img {
    height: 200px
}

.categoria-videos img {
    opacity: 0.5;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 1px solid white;
}

.categoria h2 {
    color:burlywood
}